<div class="col-10 offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by <a target="_blank" href="http://github.com/VinSlif">Vincent Slifer</a>, an aspiring web
		developer who hopes to refine his technical skills.
	</p>
	<br />
	<p>
		If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
	</p>


	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'me.jpg', class: 'img-fluid' %>
		</div>

		<div class="col-12 col-sm-7 offset-sm-1">
			<h2 class="text-center">Vincent Slifer</h2>
			<br />
			<p>
			Vincent Slifer is Game Developer and aspiring Web Developer. He has a degree in Game Design
			and Production and has developed a game for the Microsoft HoloLens. He is currently seeking to shift his
			experiences towards web development in order to become a Full-Stack Developer.
			</p>
		</div>
	</div>
	<br class="clear" />
	<br />
	<br />
	<br />
	<br />
</div>